<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class = "title">Smart Wordle</h1>
    <p class="description">A Wordle that gets harder every time you play!</p>
    <div class="wordle-grid"></div>
    <button id="playAgainButton" style="display: none;">Play Again</button>
    <div id="keyboard"></div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
